{#
# This is an optional settings page - Must init setting from "customQueryBuilderPlugin.php" file for it to show up in Craft's CP.
#


<div class="field">
  <div class="heading">
    <label>Reset Custom Table Entries</label>
    <div class="instructions"><p>This will resave all the entries that are related to the plugin's custom table to ensure they accuratley match the related entry.</p>
  </div>
  </div>
  <div class="input ltr">
    <hr style="margin: 0px; border: 0; height: 13px;"/>
    <a href="{{ actionUrl('entryModelReform/resetTableIndexes') }}" class="submit btn">Reset Entries</a>
  </div>
</div> #}
